html,
body:root {
  font-family: var(--font-inter);
  height: 100%;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1336px;
  }
}
.primary-color {
  color: #fcd800;
}

.bg-clr-primary {
  background-color: #fcd800;
}

.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.radius-8 {
  border-radius: 8px;
}
.radius-16 {
  border-radius: 16px;
}
.radius-24 {
  border-radius: 16px;
}
.radius-32 {
  border-radius: 32px;
}
.fw-300 {
  font-weight: 200 !important;
}
.cursor-pointer {
  cursor: pointer;
}
.is-shadow {
  -webkit-box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1),
    0px 12px 32px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1),
    0px 12px 32px rgba(0, 0, 0, 0.05);
}

/* Cart */

.cart {
  border: 2px solid #000;
  padding: 6px 30px 6px 20px;
  font-size: 14px;
  border-radius: 32px;
}

.cart-number {
  margin-right: 12px;
  border-radius: 50%;
}

/* Bottom Cart */

.bottom-cart {
  border: 2px solid #000;
  padding: 10px;
  font-size: 14px;
  border-radius: 50%;
  background-color: #fcd800 !important;
}
.cart-number2 {
  border-radius: 50%;
  border: 1px solid #000;
  margin-left: 20px;
  font-size: 10px;
}

.avatar {
  border: 2px solid #fff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* Navbar */

.nav-link {
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #fff;
}
.centered-text {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-family: Playfair Display !important;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}
.centered-text h1 {
  font-size: 70px;
}
@media (max-width: 780px) {
  .centered-text {
    top: 50%;
    left: 45%;
    line-height: 20px !important;
  }
  .centered-text h1 {
    font-size: 20px;
    font-weight: 300 !important;
  }
  .centered-text p {
    font-size: 12px;
    font-weight: 300 !important;
  }
  .category-name {
    font-size: 10px;
  }
}

.promotion-text {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

@media (max-width: 780px) {
  .promo-text {
    font-size: 12px !important;
  }
}
.paginationBtn {
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBtn a {
  color: #666666;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 14px;
}
.paginationBtn a:hover {
  color: #56606d !important;
  background-color: #fde8eb;
  border-color: none;
}
.paginationActiveBtn a {
  color: #fcd800 !important;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(95, 95, 95, 0.08);
}
@media (max-width: 780px) {
  .paginationBtn a {
    padding: 4px 8px;
    font-size: 12px;
  }
}

.previousBtn {
  padding: 8px 10px !important;
}
.nextBtn {
  padding: 8px 10px !important;
}

/* Select field */
.select-title .select-label {
  z-index: 1;
  background-color: #fff;
  padding: 7px 16px;
  border: 1px solid #000;
  border-radius: 9px;
}
.select-title .select-label input:checked ~ .person-selection {
  color: #fff;
}
.select-title .select-label input:checked ~ .person-selection .bg-color {
  display: block !important;
}
.select-title .select-label .bg-color {
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  display: none;
  border-radius: 8px;
  border: none !important;
}

.add-btn {
  border: 2px solid #000;
  padding: 14px 20px;
}

.size-modal {
  width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 24px;
  min-height: 350px;
}
.size-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

@media (max-width: 780px) {
  .size-modal {
    width: 100vw;
    height: 100vh !important;
  }
}

.place-order-btn {
  padding: 12px;
}
.form-body .form-control::-webkit-input-placeholder {
  color: #919eab;
  font-weight: 400;
  font-size: 14px;
}
.form-body .form-control:-ms-input-placeholder {
  color: #919eab;
  font-weight: 400;
  font-size: 14px;
}
.form-body .form-control::-ms-input-placeholder {
  color: #919eab;
  font-weight: 400;
  font-size: 14px;
}
.form-body .form-control::placeholder {
  color: #919eab;
  font-weight: 400;
  font-size: 14px;
}
.number-input input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number-input input[type="number"] {
  -moz-appearance: textfield;
}
.btn,
button,
.form-control,
input {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.primary-input .form-control,
.primary-input .form-control:focus {
  border-radius: 8px !important;
  min-height: 52px;
  font-size: 14px;
  border-color: rgba(145, 158, 171, 0.32);
}
.form-check-input {
  border: 2px solid #212b36 !important;
}
.form-check-input:checked {
  background-color: #000 !important;
  border-color: #000 !important;
}
.form-check-input:focus {
  border-color: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.continue-button {
  border: 1px solid #ccc !important;
  background: none !important;
  padding: 10px 25px;
  border-radius: 16px;
}

/* Product */
.product-header {
  font-size: 11px;
}
@media (min-width: 780px) {
  .product-header {
    font-size: 14px;
  }
}

.product-image {
  height: 150px;
  width: 274px;
}
.product-grid {
  height: 100px;
  width: 90px;
  border-radius: 10px;
}
.product-grid2 {
  height: 80px;
  width: 80px;
  border-radius: 10px;
}
.main-image {
  max-height: 500px;
  border-radius: 10px;
}
.cart-image {
  height: 60px;
  width: 60px;
  border-radius: 10px;
}
.hero-image {
  width: 100% !important;
  height: 100% !important;
}

.category-image {
  height: 100px !important;
  border-radius: 10px;
  width: 100px !important;
}
@media (min-width: 780px) {
  .category-image {
    width: 226px !important;
    height: 221px !important;
  }
  .product-image {
    height: 269px;
    width: 274px;
  }
  .banner {
    height: 220px;
  }
}

.result-list {
  min-width: 420px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: auto;
  position: relative;
}

.custom-modal {
  position: absolute;
  transform: translate(-50% -50%);
  border-radius: 8px;
  background: #fff;
  z-index: 1000;
}
.overlay-styles {
  position: relative;
}
@media (max-width: 780px) {
  .result-list {
    width: 100vw !important;
  }
  .custom-modal {
    margin-left: -90px;
  }
}

.hover-class:hover {
  color: gray !important;
}
.swiper-button-next {
  color: #eb1933 !important;
  display: none !important;
}

.swiper-button-prev {
  color: #eb1933 !important;
  display: none !important;
}
